<mat-card class="sidebar-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Angella Decker</mat-card-title>
        <mat-card-subtitle>About me</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="#" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
        <p>
            Lorem 
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab color="primary">f</button>
    </mat-card-actions>
</mat-card>