@import'../_variables.scss';

#main-content {
    // margin: $gutters-main;
    float: right;

    h1 {
        color: $p-dark;
    }
}

#aside-container {
    width: 350px;
    // background-color: #673ab7;
    padding: 0 1rem;
    z-index: -1;
}
.go-dis-card {
    margin-bottom: 2rem;
   width: 100%;
    border-radius: 0 !important;

    .mat-card-header {
        color: $p-dark;
    }

    .mat-fab {
        float: right;
        top: -59px;
        right: 3rem;
        background-color: $p-dark;
        color: #fff;
    }

    .example-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .example-container > * {
        width: 100%;
    }

    .example-right-align {
        text-align: right;
    }

    input.example-right-align::-webkit-outer-spin-button,
    input.example-right-align::-webkit-inner-spin-button {
        display: none;
    }

    input.example-right-align {
        -moz-appearance: textfield;
    }

    .primary {
        background-color: $primary;
        color: #fff;
    }
}
