@import'../../_variables.scss';

.go-dis-card {
    margin-bottom: 2rem;
    min-width: 75%;
    border-radius: 0 !important;
    .select-card {
        .mat-list-item {
            .mat-list-item-content {
                float: right;
            }
        }
    }
    .mat-card-header, .mat-card-subtitle, .mat-list-item-content {
        color: $p-dark;
    }

    .mat-fab {
        float: right;
        top: -59px;
        right: 3rem;
        background-color: $p-dark;
        color: #fff;
    }

    .example-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .example-container > * {
        width: 100%;
    }

    .example-right-align {
        text-align: right;
    }

    input.example-right-align::-webkit-outer-spin-button,
    input.example-right-align::-webkit-inner-spin-button {
        display: none;
    }

    input.example-right-align {
        -moz-appearance: textfield;
    }

    input {
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
    }

    .primary {
        background-color: $primary;
        color: #fff;
    }

    em {
        float: right;
        color: #E05C65;
        padding-left: 1rem;
    }

    .error input {
        background-color: #E3C3C5;
    }

    .error ::-webkit-input-placeholder {
        color: #999;
    }

    .error ::-moz-placeholder {
        color: #999;
    }

    .error :-moz-placeholder {
        color: #999;
    }

    .error :-ms-input-placeholder {
        color: #999;
    }

    .form-image img {
        position: relative;
        right: 0;
        max-width: 100px;
        padding: 0;
        margin: 10px 0;
        display: inline-block;
    }

 

   
}
