

    <mat-card class="go-dis-card mat-elevation-z13">
        <mat-card-header>
            <mat-card-title>Content Builder</mat-card-title>
        </mat-card-header>

        <form  [formGroup]="updateCardForm" (submit)="(isChecked == 'update') ? updateFormData(updateCardForm.value) : saveFormData(updateCardForm.value)">

                <mat-card-content>

                    <mat-radio-group formControlName="radioGroup" aria-label="Select an option" (change)="getRadioVal()">
                        <mat-radio-button (click)="clearForm()" value="new">Create New Card</mat-radio-button>
                        <mat-radio-button value="update">Update Existing Card</mat-radio-button>
                        <mat-radio-button value="delete">Delete Existing Card</mat-radio-button>

                    </mat-radio-group>

                    <div *ngIf="isChecked == 'update' || isChecked == 'delete'">
                        <h4>Select a Card to Update</h4>
                        <mat-list role="list" class="select-card flex-container">
                            <mat-list-item *ngFor="let card of cards" role="listitem">
                                <a mat-button mat-raised-button (click)="selectName(card.cardTitle)" class="a-button fade-in">{{card.cardTitle}}</a>
                            </mat-list-item>
                        </mat-list>
                        <div *ngIf="isChecked == 'delete' && selected" class="flex-container delete-button">
                            <a mat-button mat-raised-button class="a-button fade-in" (click)="deleteSelectCard()">Delete Card</a>
                        </div>
                    </div>

                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter new card title" name="cardTitle" formControlName="cardTitle" id="cardTitle" required>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <div *ngIf="selected" class="form-image"><img mat-card-image src="/img/{{card.cardImg}}.jpg"></div>
                        <mat-form-field>
                            <input matInput placeholder="Enter new card image" name="cardImg" formControlName="cardImg" id="cardImg" required>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <div *ngIf="selected" class="form-image"><mat-icon>{{card.cardIcon}}</mat-icon></div>
                        <mat-form-field>
                            <input matInput placeholder="Enter new card Icon" name="cardIcon" formControlName="cardIcon" id="cardIcon" required>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter new card link" name="cardLink" formControlName="cardLink" id="cardLink" required>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter new card link name" name="cardLinkName" formControlName="cardLinkName" id="cardLinkName" required>
                        </mat-form-field>
                    </div>
                    <div formGroupName="cardContents">
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput placeholder="Enter paragraph one" name="paraOne" formControlName="paraOne" id="paraOne" required>

                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput placeholder="Optional paragraph two" name="paraTwo" formControlName="paraTwo" id="paraTwo">


                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput placeholder="Optional paragraph three" name="paraThree" formControlName="paraThree" id="paraThree">
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput placeholder="Optional paragraph four" name="paraFour" formControlName="paraFour" id="paraFour">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button class="a-button" mat-button mat-raised-button type="submit">Submit</button>
                    <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
                </mat-card-actions>
            </form>


</mat-card>
