<div *ngFor="let c of cards">
    <mat-card class="go-dis-card">
        <img mat-card-image src="/img/{{c.cardImg}}.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="card-header" color="Secondary">
            <mat-icon>{{c.cardIcon}}</mat-icon>
            <mat-card-title>{{c.cardTitle}}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let p of c.cardContents">
            <div>
                <p>{{p.paraOne}}</p>
                <p>{{p.paraTwo}}</p>
            </div>
            <a href="https://{{c.cardLink}}">{{c.cardLinkName}}</a>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab [routerLink]="['/', c.id]"><mat-icon>add</mat-icon><span></span></button>
        </mat-card-actions>
    </mat-card>
</div>
