@import'../../_variables.scss';

.go-dis-card {
    margin-top: 2rem;
    max-width: 710px;
    .mat-card-header {
        color: $p-dark;
    }
    .mat-fab {
        float: right;
        top: -59px;
        right: 3rem;
        background-color: $p-dark;
        color: #fff;
    }
}
