// variables.scss
$primary: #03a9f4;
$p-light: #67daff;
$p-dark: #007ac1;

////// purple theme

$purple-p: #ab47bc;
$purple-l: #df78ef;
$purple-d: #790e8b;
$purple-n: #e1bee7;

$sm-spacer: .125 1 auto;

$dark-gray: rgb(96, 125, 139);

$button: #f48fb1; 

$purple: #673ab7;

$y-yellow: #ffd740;

$secondary: #4caf50;


/////Abbie theme 
$a-primary: #e040fb;
$a-light: #ff79ff;
$a-dark: #aa00c7;

$a-secondary: #673ab7;
$as-light: #9a67ea;
$as-dark:#320b86;


$button-font: #fff;

$gutters-main: 1rem 7rem;

$shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

$shadow-footer: 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.2);