// variables.scss
$primary: #03a9f4;
$p-light: #67daff;
$p-dark: #007ac1;

$y-yellow: #ffd740;

$secondary: #4caf50;

$button-font: #fff;

$gutters-main: 1rem 7rem;

$shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

$shadow-footer: 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.2);