<footer id="gdb-footer">
    <div class="flex-container">
        <div class="div1">
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
        </div>
        <div class="div1">
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item3</mat-list-item>
            </mat-list>
        </div>
        <div class="div1">
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="flex-container">
        <p class="gdb-copyright">&copy;{{copyDate}} godisneyblog.com all rights reserved</p>
    </div>
</footer>
