@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';

html, body {
    height: 100%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .flex-container-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .half-spacer {
        flex: .25 1 auto;
    }

    #sidebar-card {
        margin-bottom: 60px;

        .mat-card-header-text {
            z-index: 10 !important;
            color: #fff !important;
            text-align: center !important;
            position: relative !important;
            top: 2rem;
            margin: 0 0;

            .mat-card-subtitle {
                color: #fff;
            }

            .mat-card-content p {
                margin-top: 16px;
            }
        }
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #007ac1;
    }

    a:link {
        text-decoration: none;
    }

    .admin.mat-list-base .mat-list-item .mat-list-item-content, .admin.mat-list-base .mat-list-option .mat-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 0 16px;
        position: relative;
        height: inherit;
        display: inline;
        color: #007ac1;
    }
}

