@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import 'app/_variables.scss';

html, body {
    height: 100%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $as-light;
        border-radius: 5px;
    }


    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .flex-container-col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .half-spacer {
        flex: .25 1 auto;
    }


    .sm-spacer {
        flex: $sm-spacer;
    }

    div#news-feed {
        .mat-expansion-panel-body {
            padding: 0 24px 16px;
            background-color: #fff;
            color: #222;

            img {
                max-width: 200px;
                margin-top: 25px;
            }
        }
    }

    #sidebar-card {
        margin-bottom: 60px;

        .mat-card-header-text {
            z-index: 10 !important;
            color: #fff !important;
            text-align: center !important;
            position: relative !important;
            top: 2rem;
            margin: 0 0;

            .mat-card-subtitle {
                color: #fff;
            }

            .mat-card-content p {
                margin-top: 16px;
            }
        }
    }

    .mat-fab.mat-accent {
        background-color: $as-dark;
    }

    .matdrawer-content.mat-sidenav-content {
        &:after {
            position: absolute;
            top: 297px;
            display: block;
            left: 0;
            width: 100%;
            height: 340px;
            background-color: $purple;
            z-index: -10;
            content: "mother bitch";
        }
    }

    .mat-input-element {
        font-size: .85rem;
        color: $a-dark;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #007ac1;
    }

    .a-button {
        background-color: $a-dark;
        color: #fff;
    }

    a:link {
        text-decoration: none;
    }

    .admin.mat-list-base .mat-list-item .mat-list-item-content, .admin.mat-list-base .mat-list-option .mat-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 0 16px;
        position: relative;
        height: inherit;
        display: inline;
        color: #007ac1;
    }

    button.mat-mini-fab.mat-accent {
        background-color: $as-light;
        color: #fff;
    }

    .mat-drawer {
        color: #fff;
    }

    .mat-menu-content {
        background-color: $a-light;
        color: #000000;
    }

    .mat-expansion-panel-header-title {
        color: #fff;
    }

    .mat-expansion-indicator::after {
        border-style: solid;
        border-width: 0 2px 2px 0;
        content: '';
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        vertical-align: middle;
        color: #fff;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
        background-color: $as-light;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $as-light;
    }

    .mat-accordion {
        background-color: #aa00c7;
        color: #fff;

        .mat-expansion-panel {
            background-color: #aa00c7;
            color: #fff !important;

            .mat-expansion-panel-header-title {
                color: #fff;
            }

            span.mat-content {
                color: #fff;

                .mat-panel-title {
                    color: #fff;
                }
            }
        }
    }
    /////////// fade in animation
    .fade-in {
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

