@import'../../_variables.scss';

#main-content {
    // margin: $gutters-main;
    float: right;

    h1 {
        color: $p-dark;
    }
}

#aside-container {
    width: 350px;
    // background-color: #673ab7;
    padding: 0 1rem;
    z-index: -1;
}


.go-dis-card {
    margin-bottom: 2rem;
    max-width: 710px;
    border-bottom: 3px solid $a-dark;
    border-radius: 3px;

    .mat-card-header {
        color: $a-dark;
    }

    .mat-card-content a {
        color: $a-dark;
        text-decoration: underline;
    }

    .mat-fab {
        float: right;
        top: -59px;
        right: 3rem;
        background-color: $a-light;
        color: #000000;
    }
}

