<div class="flex-container">
    <mat-card class="go-dis-card">
        <mat-card-header>
            <mat-card-title><h1>Update an existing Card <mat-icon>edit</mat-icon></h1></mat-card-title>
            <mat-card-subtitle>
                <h2> Available ID's </h2>
                <mat-list class="admin">
                    <mat-list-item *ngFor="let c of cards"><mat-icon>folder</mat-icon> <i>#:  {{c.thisCardId}}</i> </mat-list-item>
                    <hr />
                </mat-list>
            </mat-card-subtitle>
            <span *ngIf="errMessage">{{errMessage}}</span>
        </mat-card-header>
            <mat-card-content>
                <div class="example-container">  
                    <mat-form-field>
                        <input matInput type="number" (keyup)="setCardId(thisCardId.value)" placeholder="Enter card ID" [formControl]="thisCardId">
                        <mat-error *ngIf="thisCardId.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container" *ngIf="thisCardId.valid">
                    <mat-form-field>
                        <input matInput placeholder="Card Title" [formControl]="cardTitle" name="cardTitle" required>
                        <mat-error *ngIf="cardTitle.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>

                    <div class="form-image"><img mat-card-image src="/img/{{card.cardImg}}.jpg" alt="card.Title"></div>
                    <mat-form-field>
                        <input matInput placeholder="Card Image" [formControl]="cardImg" name="name" required>
                        <mat-error *ngIf="cardImg.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>


                    <div class="form-image"><mat-icon>{{card.cardIcon}}</mat-icon></div>
                    <mat-form-field>
                        <input matInput placeholder="Card Icon" [formControl]="cardIcon" name="name" required>
                        <mat-error *ngIf="cardIcon.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput placeholder="Card Link" [formControl]="cardLink" name="name" required>
                        <mat-error *ngIf="cardLink.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput placeholder="Card Link Name" [formControl]="cardLinkName" name="name" required>
                        <mat-error *ngIf="cardLinkName.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>

                    <!--  paragraphs -->
                    <mat-form-field>
                        <input matInput placeholder="Paragraph 1" [formControl]="paraOne" name="name" required>
                        <mat-error *ngIf="paraOne.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Paragraph 2" [formControl]="paraTwo" name="name">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Paragraph 3" [formControl]="paraThree" name="name">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Paragraph 4" [formControl]="paraFour" name="name">
                    </mat-form-field>

                </div>
                    
            </mat-card-content>
            <mat-card-actions>
                <button mat-button mat-raised-button (click)="submitCard(thisCardId.value)" type="submit" class="primary">Submit</button>
                <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
            </mat-card-actions>
    </mat-card>
</div>
 