<div id="news-feed" class="flex-container">
    <h2>The News</h2>
    <hr />
    <mat-accordion *ngIf="cards$ | async as cards">
        <span *ngFor="let c of cards">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{c.cardTitle}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <img src="/img/{{c.cardImg}}.jpg" />
               <p>Galaxies Edge Opening Day!</p>
            </mat-expansion-panel>
        </span>
    </mat-accordion>
</div>