@import'../_variables.scss';

#main-content {
   // margin: $gutters-main;
    float: right;

    h1 {
        color: $p-dark;
    }
}

/*#aside-container {
    width: 350px;
    padding: 0 1rem;
    z-index: -1;
}*/