<mat-toolbar class="go-toolbar">
    <mat-toolbar-row>
        <span><button mat-fab>GDB</button></span><span id="brand"> go<span class="unique-logo">Disney</span>blog</span>


        <span class="sm-spacer"></span>
        <button mat-button (change)="buttonText()" mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToAdmin.emit()">{{update}}</button>
        </mat-menu>
        <!--<span class="gdb-flex-menu"><app-gdb-menu ></app-gdb-menu></span>-->
        <span class="half-spacer"></span>
        <span class="half-spacer"></span>
        <span class="half-spacer"></span>
        <span class="toolbar-font">Go Disney Blog!</span>

        <span class="example-spacer"></span>
        <mat-icon class="gdb-hamburger" (click)="toggleSidenav.emit()">menu</mat-icon>
        <span class="two-rems"></span>
        <span id="goofy-icon">Ceritfied Awesome</span><mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
 