<mat-toolbar class="go-toolbar">
    <mat-toolbar-row>
        <span><button mat-fab>GDB</button></span><span id="brand"> go<span class="unique-logo">Disney</span>blog</span>


        <span class="example-spacer"></span>
        <span class="gdb-flex-menu"><app-gdb-menu></app-gdb-menu></span>

        <span class="example-spacer"></span>
        <mat-icon class="gdb-hamburger" (click)="toggleSidenav.emit()">menu</mat-icon>
        <span class="half-spacer"></span>
        <span>Ceritfied Awesome</span><mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
 