@import'../_variables.scss';
.go-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $shadow;
    z-index: 5;
    background-color: $primary;
    color: #fff;

    .mat-fab {
        //background-color: #fff;
        color: #fff;
        font-weight: bold;
        margin-right: 0.5rem;
    }

    #brand {
        font-weight: bold;

        .unique-logo {
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    .gdb-hambuger {
        display: none;
    }
    .example-icon {
        padding: 0 14px;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    .gdb-flex-menu {
        flex: 1 auto;
    }

    .toggle-sidebar {
        display:none;
    }

    @media(max-width: '720px'){
        .sidebar-toggle {
            display: flex;
        } 
        .gdb-hamburger {
            display: flex;
        }
    }
}
